.card>img {
    height: 100%;
}
.card {
    width: 100%;
}
footer {
    background-color: rgba(248, 245, 245, 0.918);
    margin-top: 2rem;
}
.col-lg-4 img {
    width: 67px;
}
.media {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    margin: auto auto;
}
.carousel-inner img {
	max-height: 275px;
}
.call {
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}